<style>
    #toast.htmx-settling {
        opacity: 100;
    }

    #toast {
        background: #E1F0DA;
        opacity: 0;
        transition: opacity 30s ease-out;
    }
</style>
<form id="link-actions"
      hx-post="http://localhost:8642/html/linkset{{.URLQuery}}"
      hx-swap="outerHTML settle:30s"
      hx-target="#toast"
      x-data="allCheckboxChecker">
  <nav class="navbar bg-base-300 min-h-0 h-8 border-solid border-gray-400 border-t">
    <div class="navbar-start">
      <span class="text-base font-semibold">{{.Label}}</span>
    </div>
    <div class="navbar-center">
      <input class="btn min-h-0 h-4" type="submit" value="Delete">
    </div>
    <div class="navbar-end"></div>
  </nav>
  <div class="overflow-x-auto p-4">
    <table id="link-rows" class="table table-md">
      <thead>
      <tr id="{{.HeaderHTMLId}}">
        {{.TableHeaderFooterHTML}}
      </tr>
      </thead>
      <tbody>
      {{range .Links}}
      <tr
        id="{{.RowHTMLId}}"
        class="p-0.5 hover:bg-gray-200"
        x-data="checkedHighlighter"
        data-highlight="bg-gray-100">
        <td class="p-0.5">{{.RowId}}</td>
        <td class="p-0.5">
          <label>
            <input
              type="checkbox"
              id="check-{{.HTMLId}}"
              name="check_{{.HTMLId}}"
              @click="highlight"
            />
          </label>
        </td>
        <td id="{{.HTMLId}}" class="p-0.5 text-center">
          <a class="btn btn-secondary min-h-0 h-4"
             target="_blank"
             href="{{.URL}}"
             title="{{.Title}}"
             aria-label="{{.ARIALabel}}"
          >Open</a>
        </td>
        <td class="p-0.5 text-right">{{.Subdomain}}</td>
        <td class="p-0.5">{{.SecondLevelDomain}}</td>
        <td class="p-0.5">{{.Title}}</td>
      </tr>
      {{end}}
      </tbody>
      <tfoot>
      <tr id="{{.FooterHTMLId}}">
        {{.TableHeaderFooterHTML}}
      </tr>
      </tfoot>
    </table>
  </div>
  <span id="toast"></span>

  <div x-show="showConfirmationDialog" class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg" x-text="getConfirmationPrompt"></h3>
      <div class="modal-action">
        <button class="btn btn-primary" @click="changeAllCheckboxes">Yes</button>
        <button class="btn btn-ghost" @click="closeConfirmationDialog">Cancel</button>
      </div>
    </div>
  </div>
</form>

