<!--suppress CssUnusedSymbol -->
{{- /*gotype:savetabs/ui.linkset*/ -}}

<form id="link-actions"
      hx-post="http://localhost:8642/html/linkset{{.URLQuery}}"
      hx-target="#links-section"
      x-data="allCheckboxChecker">
  <input type="hidden" name="action">
  <input type="hidden" name="url_query" value="{{.URLQuery}}">
  <input type="hidden" name="query_json" value="{{.QueryJSON}}">
  <nav class="navbar bg-base-300 min-h-0 h-8 border-solid border-gray-400 border-t">
    <span class="text-base font-semibold">{{.Label}}</span>
  </nav>
  <nav class="navbar bg-base-300 min-h-0 h-8 border-solid border-gray-400 border-t">
    <div class="navbar-start gap-2">
      <input class="btn min-h-0 h-4" type="submit" value="Archive" data-action="archive">
      <input class="btn min-h-0 h-4" type="submit" value="Delete" data-action="delete">
    </div>
<!--    <div class="navbar-center"></div>-->
<!--    <div class="navbar-end"></div>-->
  </nav>
  <div class="overflow-x-auto p-4">
    <table id="link-rows" class="table table-md">
      <thead>
      <tr id="{{.HeaderHTMLId}}">
        {{.TableHeaderFooterHTML}}
      </tr>
      </thead>
      <tbody>
      {{range .Links}}
      <tr
        id="{{.RowHTMLId}}"
        class="p-0.5 hover:bg-gray-200"
        x-data="checkedHighlighter"
        data-highlight="bg-gray-100">
        <td class="p-0.5">{{.RowId}}</td>
        <td class="p-0.5">
          <label>
            <input
              type="checkbox"
              id="{{.HTMLId}}-cb"
              name="link_id"
              value="{{.Id}}"
              @click="highlight"
            />
          </label>
        </td>
        <td id="{{.HTMLId}}" class="p-0.5 text-center">
          <!--suppress HtmlUnknownTarget -->
          <a class="btn btn-secondary min-h-0 h-4"
             target="_blank"
             href="{{.URL}}"
             title="{{.Title}}"
             aria-label="{{.ARIALabel}}"
          >Open</a>
        </td>
        <td class="p-0.5 max-w-[10vw]">{{.Domain}}</td>
        <td class="p-0.5 max-w-[15vw] break-word">{{.Path}}</td>
        <td class="p-0.5 max-w-[20vw] whitespace-nowrap">{{.Query}}</td>
        <td class="p-0.5 max-w-[20vw] whitespace-nowrap">{{.Fragment}}</td>
        <td class="p-0.5 max-w-[20vw] break-word">{{.Title}}</td>
        <td class="p-0.5">{{.Scheme}}</td>
        <td class="p-0.5 text-right">{{.Subdomain}}</td>
        <td class="p-0.5">{{.SecondLevelDomain}}</td>
        <td class="p-0.5">{{.TopLevelDomain}}</td>
        <td class="p-0.5">{{.Port}}</td>
      </tr>
      {{end}}
      </tbody>
      <tfoot>
      <tr id="{{.FooterHTMLId}}">
        {{.TableHeaderFooterHTML}}
      </tr>
      </tfoot>
    </table>
  </div>

  <div x-show="showConfirmationDialog" class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg" x-text="getConfirmationPrompt"></h3>
      <div class="modal-action">
        <button class="btn btn-primary" @click="changeAllCheckboxes">Yes</button>
        <button class="btn btn-ghost" @click="closeConfirmationDialog">Cancel</button>
      </div>
    </div>
  </div>
</form>

