{{- /*gotype:savetabs/ui.menuItem*/ -}}
<ul class="menu p-0 mb-4 min-h-full bg-base-200 text-base-content x-data">
{{range .MenuItems}}
  <li id="{{.HTMLId}}" class="{{if .IsLeaf }}h-7 {{end}}m-0 p-0 flex">
    <details x-data="preventable" class="grow {{if .NotTopLevelMenu}}p-0 m-0{{end}}" @click="preventExpandOnIconClick">
      <summary class="{{if .IsLeaf}}p-0 m-0{{else}}py-3 my-0{{end}} rounded-sm list-none flex items-center w-full gap-2">
        {{if .IsLeaf }}
          <span class="py-2">
            <blank-icon></blank-icon>
          </span>
        {{else}}
          <span x-data="collapsible" class="grow-0 py-2 cursor-pointer">
            <expand-icon x-show="collapsed" @click="toggle" class="clickable" hx-get="{{$.HTMLMenuURL}}/{{.ChildMenuURL}}" hx-target="#{{.HTMLId}}-kids"></expand-icon>
            <collapse-icon x-show="expanded" @click="toggle" class="clickable"></collapse-icon>
          </span>
        {{end}}
        <div class="w-full pl-2 cursor-pointer" hx-get="{{$.HTMLLinksURL}}{{.ContentQuery}}" hx-target="#links-section">
          <span id="{{.HTMLId}}-label" hx-trigger="contextmenu" hx-get="{{.HTMLContextMenuURL}}/{{.HTMLId}}?type=label" hx-target="#context-menu">
						{{.Label}}
					</span>
        </div>
      </summary>
      <div id="{{.HTMLId}}-kids" class="pl-4 m-0"></div>
    </details>
  </li>
{{end}}
</ul>